# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/

# Virtual envs
.venv/
venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors/IDEs
.idea/
.vscode/

# Builds
dist/
build/
coverage/


